% rebase('osnova.html', naslov=ekipa.ime)

<br>
<h1 class="title is-1">Ekipa: {{ekipa.ime}}</h1>
<p><b>Število tekmovanj, ki se jih je ekipa udeležila: {{st_tekmovanj}}</b></p>
<br>

<div class="columns">
    <div class="column">
        % if tek_igralci:
        <div class="content">
            <ul style="list-style-type: none;">
                % for tekmovanje, igralci in tek_igralci.items():
                <li>
                    <div style="font-size: 1.5em;">
                        <b><a href="/tekmovanje/{{tekmovanje.id}}/">
                        {{tekmovanje.tip}} ({{tekmovanje.leto}})
                        </a></b>
                    </div>
                    <ul style="list-style-type: none;">
                        % for igralec in igralci:
                        <li>
                            <div class="content is-normal">
                                <a href="/igralci/{{igralec.id}}/">
                                    {{igralec.ime}}
                                </a>
                            </div>
                        </li>
                        % end
                    </ul>
                </li>
                % end
            </ul>
        </div>
        % end
    </div>
    <div class="column">
        % if zmage:
        <div class="container">
            <div class="notification is-info">
                <h2 class="subtitle is-3"><b>ZMAGE</b></h2>
                % for tekmovanje in zmage:
                <ul><b>
                    <li><a href="/tekmovanje/{{tekmovanje.id}}/">{{tekmovanje.tip}} ({{tekmovanje.leto}})</a></li>
                </b></ul>
                % end
            </div>
        </div>
        % else:
        <div class="container">
            <div class="notification is-info">
                <p><b>Ta ekipa še ni zmagala na nobenem tekmovanju.</b></p>
            </div>
        </div>
        % end
    </div>
</div>