% rebase('osnova.html', naslov=tekmovanje.tip)
<br>
<div class="level">
    <div class="level-item">
        <h1 class="title is-1">Tekmovanje: {{tekmovanje.tip}} ({{tekmovanje.leto}})</h1>
    </div>
</div>

<div class="columns">
    <div class="column">
        % if tekme:
        <div class="content">
            <ul style="list-style-type: none;">
            % for i, (tekma, ekipe) in enumerate(tekme.items(),1):
            <li>
                <div style="font-size: 1.5em;">
                        {{i}}. {{tekma.datum}} ({{tekma.cas}})
                </div>
                <ul style="list-style-type: none;">
                    % for ekipa in ekipe:
                    <li>
                        <div class="content is-normal">
                            <a href="/ekipa/{{ekipa.id}}/">
                                {{ekipa.ime}}
                            </a>
                        </div>
                    </li>
                    % end
                </ul>
            </li>    
            % end
            </ul>
        </div>
        % end
    </div>
    <div class="column">
        <div class="container">
            <div class="notification is-info"><b>
                <h2 class="subtitle is-3"><b>TOP 3</b></h2>
                <ul style="list-style-type: none;">
                    <li>1. <a href="/ekipa/{{prvi.id}}/">{{prvi.ime}}</a></li>
                    <li>2. <a href="/ekipa/{{drugi.id}}/">{{drugi.ime}}</a></li>
                    <li>3-4. <a href="/ekipa/{{tretji1.id}}/">{{tretji1.ime}}</a>, <a href="/ekipa/{{tretji2.id}}/">{{tretji2.ime}}</a></li>
                </ul>
            </b></div>
          </div>
    </div>
</div>
