% rebase('osnova.html')

<section class="section">
    <div class="container">
        <p class="is-size-4">
            League of legends je računalniška videoigra.
            Vsako leto se odvijeta dve večji tekmovanji.
            Prvo je Mid-Season in se odvija spomladi. Drugo pa World Championship
            in se odvija jeseni.
        </p>
    </div>
</section>

<div style="text-align: center;">
<a href="/igralci/isci/" class="button is-primary">
    <strong>ZAČNI!</strong>
</a>
</div>
