% rebase('osnova.html')

<section class="section">
    <div class="container">
        <p class="is-size-4">
            <b>Svetovno prvenstvo</b> v igri League of Legends, pogosto imenovano preprosto <b>Worlds</b>, je vrhunec vsakoletne sezone,
            ki ga organizira Riot Games. Ekipe z vsega sveta se pomerijo za prestižni naslov svetovnega prvaka, 20-kilogramski Pokal
            Summoner in bogato denarno nagrado. Finale leta 2018 je pritegnilo 99,6 milijona gledalcev, kar potrjuje njegovo ogromno
            priljubljenost.
        </p>
        <p class="is-size-4">
            Svetovno prvenstvo v League of Legends je izjemno uspešen in priljubljen dogodek, ki se uvršča med najbolj prestižne in
            gledane turnirje na svetu. Je eden najpomembnejših dogodkov v e-športu.
        </p>
        <br>
        <p class="is-size-4">
            <b>Mid-Season Invitational (MSI)</b> je drugi najpomembnejši mednarodni turnir v igri League of Legends, ki ga Riot Games
            organizira vsako leto sredi sezone od leta 2015. Ta po pomembnosti sledi svetovnemu prvenstvu.
        </p>
    </div>
</section>


